@if (!show) {
<div class="container">
    <header>
      <div class="row">
        <div class="col lang">
          <p (click)="!isAra() ? changeLanguage(1) : changeLanguage(2)" class="lang-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="2" y1="12" x2="22" y2="12"></line>
              <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10z"></path>
            </svg>
            {{ 'langueLabel' | translate }}
          </p>
        </div>
        <!-- <div class="title-container">
          <h1 class="gradient-title">HuQQabaz</h1>
        </div> -->
        <div class="img-con">
            <img class="logobranch" [src]=" isAra()? '../../../assets/img/2.png':'../../../assets/img/1.png' " alt="Logo" />
          </div>
      </div>
    </header>
 
    <!-- <div class="row or-container">
      <div class="or">
        <hr>
      </div>
      <div class="or-text">
        Branch Name
      </div>
      <div class="or">
        <hr>
      </div>
    </div> -->
  
    <main >
      <div class="question-section">
        <h2><span class="requierd">* </span> {{('rating' | translate)}}</h2>
        <div class="smiles">
          <img *ngFor="let emoji of emojis; let i = index"
               src="{{emoji.src}}" 
               alt="{{emoji.alt}}" 
               [class.selected]="selectedEmojiIndex === i"
               (click)="selectEmoji(i)"
               [class.animate]="selectedEmojiIndex === i">
        </div>
      </div>
  
      <div class="question-section">
        <h2> <span class="requierd"> * </span> {{('question' | translate)}}</h2>
        <div class="rating-squares">
          <div *ngFor="let rating of ratings"
               class="square" 
               [ngClass]="getColorClass(rating)" 
               [class.selectedimg]="selectedRating === rating"
               (click)="selectRating(rating)"
               [class.animate]="selectedRating === rating">
            <span>{{rating}}</span>
          </div>
        </div>
      </div>
  
      <div class="notes-section">
        <label for="notes">{{('notes'| translate)}} <span class="optional"> ({{('optional'| translate)}})</span> </label>
        <textarea id="notes" rows="4" [placeholder]="('comments' | translate)" [(ngModel)]="notes"></textarea>
      </div>
  
      <button type="submit" [disabled]="!isFormValid" (click)="submit()" [class.disabled]="!isFormValid">{{'Submit' | translate}}</button>
    </main>
 
  </div>
}
@else {
    <div class="container-d" ngClass="fade-in-slide-in">
        <div class="img-con">
          <img class="logobranch" [src]="isAra() ? '../../../assets/img/2.png' : '../../../assets/img/1.png'" alt="Logo" />
        </div>
        <div class="center">
          <div class="img-con">
            <img class="success" src="../../../assets/img/successlogo.jpeg" alt="error"  />
          </div>
          <div class="img-con">
            <p class="span-error">{{ 'completePaymentMessage' | translate }}</p>
          </div>
        </div>
      </div>
          
}

<footer>
    <div class="img-con">
      <img class="logo" src="../../../assets/img/powerd.png" alt="Logo" />
    </div>
  </footer>