body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
}

.container {
    width: 80%;
    max-width: 800px;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.container-d {
    max-width: 800px;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 70vh;
}



.gradient-title {
    font-weight: 700;
    text-align: center;
    background: linear-gradient(90deg, #ff6b6b, #f5d020, hsla(39, 100%, 68%, 1), hsla(39, 100%, 68%, 1), #6b00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    margin: 7px;
}

.department {
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 2px solid #1E1642;
    border-bottom: 2px solid #1E1642;
    color: #004d40;
    font-weight: bold;
}

main {
    margin-top: 20px;
}

// .question-section {
//     margin-bottom: 30px;
// }

.question-section .head {
    font-size: 1.2em;
    color: #1E1642;
    text-align: center;
    font-weight: bold;

}

.smiles {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    direction: ltr;
}

.smile {
    width: 60px;
    height: 60px;
    margin: 0 15px;
    cursor: pointer;
   
}



.rating-squares {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: ltr;
}

.rating-squares .square {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    cursor: pointer;
  //  background-color: #1E1642;
   
    border-radius: 5px;
}


.notes-section {
    margin-top: 30px;
}

.notes-section label {
    display: block;
    font-size: 1.2em;
    color: #1E1642;
    margin-bottom: 10px;
}
.or-container {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .or-text {
    font-size: 0.7em;
    font-weight: bold;
  }
  .or{
    width: 25%;
  }
.notes-section textarea {
    width: 90%;
    padding: 15px;
    font-size: 1em;
    border: 2px solid #1E1642;
    border-radius: 10px;
    resize: none;
    transition: border-color 0.3s;
}

.notes-section textarea:focus {
    border-color: #004d40;
    outline: none;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #1E1642;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.3s ease;
}


.color-1{
    background: #FF0000;
    color: #ffffff;
}
.color-2{
    background: #FFBC30;
    color: #ffffff;

}
.color-3{
    background: #00BF63;
    color: #ffffff;

}
div{
    margin: auto;
}
.card-label{
  font-size: 40.329px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  .sub-text{
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 16px;
    text-decoration: auto;
  }
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .smiles img {
        width: 65px;
        height: 65px;
    }

    .rating-squares .square {
        width: 25px;
        height: 25px;
        margin: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;
  
    }

    .question-section head {
        font-size: 1.25em;
        font-weight: bold;
    }

    .notes-section label {
        font-size: 1em;
    }

    .notes-section textarea {
        font-size: 0.9em;
    }

    button[type="submit"] {
        padding: 12px;
        font-size: 1.2em;
    }
}
.lang {
    font-size: 16px;
    font-family: 'Tajawal', sans-serif;
    text-align: right;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.lang p {
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    display: flex;
    align-items: center;
    background: #1E1642;
    height: 27px;
    border-radius: 12px;
    padding: 3px 8px; /* Adjusted padding for better spacing */
    color: #ffffff;
    font-family: 'system-ui', sans-serif;
}

.lang svg {
    margin-right: 8px; /* Adjust the spacing as needed */
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    color: #007BFF; /* Adjust the color as needed */
}



.lang:lang(ar) {
    text-align: left;
}

.lang:lang(ar) p {
    direction: rtl;
}

.lang:lang(ar) svg {
    margin-right: 0;
    margin-left: 8px; /* Adjust the spacing for RTL */
}

.question-section {
    text-align: center;
}

.smiles {
    display: flex;
    justify-content: center;
}

.smiles img {
    width: 65px;
    height: 65px;
    transition: transform 0.3s ease;
}


footer{
    text-align: center;
}
.lang-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;  /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    border-radius: 50%;
    background-color: #000; /* Change the background color if needed */
}
.logo{
    width: 100px;
    position: relative;
    /* height: 50px; */
    top: 36px;

}
.img-con{
    display: flex;
    justify-content: center;
    align-items: center;
}


.selected {
    border: 3px solid #ffffff; /* Green border */
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.6); /* Green glow */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.1); /* Slightly enlarge */
  }
  .selectedimg-1{
    border: 3px solid #ffffff; /* Green border */
    box-shadow: 0 0 20px #FF0000; /* Green glow */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.1); /* Slightly enlarge */
  }
  .selectedimg-2{
    border: 3px solid #ffffff; /* Green border */
    box-shadow: 0 0 20px #FFBC30; /* Green glow */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.1); /* Slightly enlarge */
  }
  .selectedimg-3{
    border: 3px solid #ffffff; /* Green border */
    box-shadow: 0 0 20px #00BF63; /* Green glow */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transform: scale(1.1); /* Slightly enlarge */
  }
  
  .animate {
    animation: pulse 0.3s ease-out;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Add color classes */

  /* Additional styles for better aesthetics */
  .smiles img {
    cursor: pointer;
    width: 65px;
    height: 65px;
    transition: transform 0.2s ease-in-out;
  }
  

  .rating-squares .square {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 35px;
    margin: 5px;
    text-align: center;
    line-height: 34px;
    font-weight: bold;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  

  
  button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
 
  .p-footer{
    
    margin: 12px 0 0px 23px;
  }
  .requierd{
    color: red;
  }
  .optional{
    color: gray;
  }
  button.disabled {
    background-color: gray;
    cursor: not-allowed; // Optional: changes cursor to indicate the button is not clickable
    opacity: 0.5; // Optional: makes the button look disabled
  }
  .ion-place{
    position: absolute;
    display: grid;
    top: 150px;
    left: 21%;
}
.success{
    width: 150px;
    margin: 16px auto;
}
.logobranch{
    width: 225px;
    margin-top: 26px;
}
.center{
    position: relative;
    top: 25%;
}

/* Add these styles to your CSS file */
@keyframes fadeInSlideIn {
    0% {
      opacity: 0;
      transform: translateY(30px); /* Adjust the translateY value for the desired slide-in effect */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-slide-in {
    animation: fadeInSlideIn 1s ease-out forwards; /* 1s duration for the animation */
  }
  
  
  .span-error{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }